@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('../public/images/homepage.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  text-align: center;
}



.logo {
  background-image: url(../public/images/adguesserlogo.png);
  background-size: 20em 12em;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  margin-top: 4rem;
  display: inline-block;
  height: 12em;
  width: 20em;
}

.header {
  color: white;
  font-size: 2rem;
  padding-bottom: 2rem;
}

#play-btn {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 80px;
  font-size: 20px;
  background-color: #173256;
  border-radius: 15px;
}